.pagination {
}

.pagination__list {
}

.pagination__item {
}

.pagination__link {
  font-family: var(--font-family-extra);
  font-size: 13px;
  line-height: 18px;
  color: var(--color-text);
  text-transform: uppercase;
}
