.services {
  padding-top: 65px;

  background-color: #f4f8f9;
}

.services__wrapper {
}

.services__title {
  margin-bottom: 30px;
}

.services__text {
  width: 400px;
  margin: 0;
  margin-bottom: 20px;

  font-family: var(--font-family-extra);
}

.services__slider-list {
}

.services__slider-item {
  font-weight: var(--font-bold);
  font-size: 21px;
  line-height: 30px;
}

.services__list {
}

.services__item {
}

.services__subtitle {
  margin: 0;

  font-weight: var(--font-regular);
  font-size: 36px;
  line-height: 36px;
  color: var(--color-title);
}

.services__description {
  margin: 0;

  font-family: var(--font-family-extra);
}
