.goods {
}

.goods__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px;

  background-color: #f9f5f0;
}

.goods__title {
}

.goods__link {
  min-width: 250px;
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 20px;
}

.goods__item {
}
