.button {
  display: inline-block;
  padding: 10px 15px;
  box-sizing: border-box;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text-white);

  text-align: center;

  text-transform: uppercase;
  background-color: var(--background-red);

  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button--long {
  padding: 10px 40px;
}
