.button {
  display: inline-block;
  padding: 10px 15px;
  box-sizing: border-box;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text-white);

  text-align: center;

  text-transform: uppercase;
  background-color: var(--background-red);
}

.button--long {
  padding: 10px 40px;
}
