.article {
  padding: 65px 0 55px;

  background-color: #f2f6f8;
}

.article h2 {
  margin: 26px 0;
  font-weight: var(--font-regular);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.article h2:first-of-type {
  margin-top: 0;
}

.article p {
  font-family: var(--font-family-extra);
}
