.body {
  font-family: var(--font-family-main);
  font-weight: var(--font-regular);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  color: var(--color-text);
}

.body__header {
}

.body__main {
}
