.main {
}

.main__tiles {
  margin-bottom: 50px;
}

.main__goods {
  margin-bottom: 20px;
}

.main__manufacturers {
  margin-bottom: 85px;
}

.main__services {
  margin-bottom: 80px;
}

.main__info {
}

.main__title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  color: var(--color-title);

  background-color: #f2f6f8;
}

.main__breadcrumbs {
}

.main__filter {
}

.main__sort {
}

.main__cards {
}

.main__pagination {
}

.main__article {
}
