.tile {
  padding: 20px 145px 20px 20px;

  background-color: #ffbf47;
  background-repeat: no-repeat;
  background-position: center right 30px;
}

.tile--new {
  position: relative;

  overflow: hidden;
}

.tile--new::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 100px;

  font: inherit;
  text-align: center;
  color: var(--color-text-white);

  background-color: #ff5257;
  transform: translate(26px, 5px) rotate(45deg);

  content: "new";
}

.tile--materials {
  background-color: #ffbf47;
  background-image: url("./assets/icon-materials.svg");
  background-position: center right 45px;
}

.tile--tool {
  background-color: #3bbce3;
  background-image: url("./assets/icon-tool.svg");
}

.tile--technics {
  background-color: #dc91d8;
  background-image: url("./assets/icon-technics.svg");
}

.tile--discount {
  background-color: #8ed78f;
  background-image: url("./assets/icon-discount.svg");
  background-position: center right 45px;
}

.tile--delivery {
  background-color: #ffbf47;
  background-image: url("./assets/icon-delivery.svg");
}

.tile__title {
  margin: 0;
  margin-bottom: 14px;

  font-weight: var(--font-bold);
  font-size: 24px;
  line-height: 30px;
  color: var(--color-text-white);
}

.tile__link {
  display: block;
  margin-left: 2px;

  background-color: rgb(0 0 0 / 10%);

  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}

.tile__link:hover,
.tile__link:focus {
  background-color: rgb(0 0 0 / 20%);
}

.tile__link:active {
  background-color: rgb(0 0 0 / 30%);
}
