.navigation {
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;

  background-color: #32425c;
}

.navigation__item {
  display: contents;
}

.navigation__link {
  display: flex;
  justify-content: center;
  padding: 20px 30px 19px;
  flex-grow: 1;

  font-size: 17px;
  line-height: 17px;

  color: var(--color-text-white);

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.navigation__link:hover,
.navigation__link:focus {
  background-color: #293449;
}

.navigation__link:active {
  color: rgb(255 255 255 / 50%);

  background-color: #1d2739;
  border-bottom: 5px solid #1d2739;
}

.navigation__item:first-of-type .navigation__link {
  padding-left: 50px;
}

.navigation__item:last-of-type .navigation__link {
  padding-right: 50px;
}
