:root {
  --desktop: 1200px;

  /* --color-text: #000000;
  --color-text-white: #ffffff;
  --color-background: #eeeeee;
  --color-background-white: #ffffff; */

  --font-regular: 400;
  --font-bold: 700;

  /* --standard-radius: 2px; */

  /* --font-size-main: 16px;
  --line-height-main: 24px; */

  --font-family-main: "Cuprum", "Arial", sans-serif;
  --font-family-extra: "PT Sans", "Arial", sans-serif;

  --transition-time: 200ms;
  --transition-function: linear;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
