@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("./fonts/pt-sans-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("./fonts/pt-sans-bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
    url("./fonts/cuprum-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
    url("./fonts/cuprum-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
    url("./fonts/cuprum-bold.woff2") format("woff2");
}
