.header {
  margin-bottom: 60px;
  padding-bottom: 60px;

  background-color: #f3f7f8;
}

.header__top-wrapper {
  margin-bottom: 45px;

  background-color: #293449;
}

.header__top-inner {
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  display: flex;
}

.header__form {
  position: relative;

  display: flex;
  flex-grow: 1;

  padding-left: 50px;
}

.header__label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #293449;
}

.header__form:hover .header__label {
  background-color: #212a3a;
}

.header__label::before {
  position: absolute;
  top: 50%;
  left: 15px;

  width: 17px;
  height: 17px;

  transform: translate(0, -50%);

  background-color: var(--color-text-white);
  -webkit-mask-image: url(./assets/icon-search.svg);
  mask-image: url(./assets/icon-search.svg);

  filter: opacity(30%);

  content: "";
}

.header__form:hover .header__label::before,
.header__form:focus .header__label::before {
  filter: opacity(100%);
}

.header__search {
  z-index: 1;

  flex-grow: 1;
  padding: 0;

  font-size: 17px;
  line-height: 18px;
  color: var(--color-text-white);

  border: none;
  background-color: transparent;
}

.header__search:focus {
  color: var(--color-text);
}

.header__search:focus + .header__label {
  background-color: #ffffff;
}

.header__search:focus + .header__label::before {
  background-color: #ba2732;
  filter: opacity(100%);
}

.header__search::placeholder {
  color: inherit;
}

.header__item,
.header__checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  padding: 10px 0 12px;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 18px;
  color: var(--color-text-white);
}

.header__item:hover,
.header__item:focus {
  background-color: #212a3a;
}

.header__item:active {
  background-color: #161d29;
}

.header__item::before {
  display: block;
  margin-right: 12px;
  width: 14px;
  height: 16px;

  background-repeat: no-repeat;
  background-position: center;
  filter: opacity(30%);
  content: "";
}

.header__item--bookmarks::before {
  background-image: url("./assets/icon-bookmark.svg");
}

.header__item--basket::before {
  background-image: url("./assets/cart-icon.svg");
}

.header__item:hover::before,
.header__item:focus::before {
  filter: opacity(100%);
}

.header__item:active::before {
  filter: opacity(50%);
}

.header__item--active {
  background-color: var(--background-red);
  cursor: pointer;
}

.header__item--active:hover,
.header__item--active:focus {
  background-color: #ca2c37;
}

.header__item--active:active {
  background-color: #ba2732;
}

.header__checkout {
  background-color: #63a63e;
}

.header__checkout:hover,
.header__checkout:focus {
  background-color: #5fbb2d;
}

.header__checkout:active {
  color: rgb(255 255 255 / 50%);

  background-color: #518534;
}

.header__middle-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 40px;
}

.header__text {
  margin: 0;
  padding-left: 50px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header__info-wrapper {
  margin-right: 30px;
}

.header__phone {
  display: flex;
  justify-content: center;
  padding: 12px 40px 10px;

  border: 3px solid #ffffff;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header__address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header__user-list {
}

.header__navigation {
}
