.manufacturers {
}

.manufacturers__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px;

  background-color: #f9f5f0;
}

.manufacturers__title {
}

.manufacturers__link {
  min-width: 250px;
}

.manufacturers__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;
}

.manufacturers__link-company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  margin-top: 20px;
  margin-left: 20px;
  box-sizing: border-box;

  border: 1px solid #eaeaea;
}

.manufacturers__link-company:hover,
.manufacturers__link-company:focus {
  box-shadow: 0 10px 25px 0 rgb(41 52 73 / 50%);
}

.manufacturers__link-company:active {
  filter: opacity(30%);
  box-shadow: 0 4px 10px 0 rgb(41 52 73 / 50%);
}
