.socials {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 5px;
}

.socials__link {
  display: block;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;

  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function)
}

.socials__link:hover,
.socials__link:focus {
  background-color: #ee3643;
}

.socials__link--vk {
  background-image: url(./assets/vk-icon.svg);
}

.socials__link--fb {
  background-image: url(./assets/fb-icon.svg);
}

.socials__link--insta {
  background-image: url(./assets/insta-icon.svg);
}
