.sort {
}

.sort__title {
}

.sort__list {
}

.sort__item {
}

.sort__link {
  font-family: var(--font-family-extra);
  font-size: 13px;
  line-height: 18px;
  color: var(--color-text);

  filter: opacity(30%);
}
